.accordeon {
  display: flex;
  flex-direction: column;
  /* border : 1px solid black; */
  align-items: center;
}

.accordeon_section {
  display: flex;
  flex-direction: column;

  /* border : 1px solid black; */
  width: 75%;
  padding: 0px;
  margin: 10px;
}

.accordeon_section_title {
  cursor: pointer;
  color: var(--darkBlue);
  text-align: left;
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid var(--darkBlue);
  font-size: 1.3em;
}
/* the accordeon must be improve ! */
.accordeon_section_content {
  display: flex;
  flex-direction: column;
  max-height: 2000px;
  transition: max-height 1s;
  justify-content: center;
  overflow: hidden;
  width: 80%;
  align-self: center;
  max-width: 800px;
}

.accordeon_section_content--hide {
  overflow: hidden;
  max-height: 0;
}
