.pyramid-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 30px;
}

.pyramid_level {
  border-bottom: 50px solid black;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  line-height: 1.3em;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border-top: 3px solid transparent;
  position: relative;
}

.pyramid_level span {
  position: absolute;
  top: 25px;
  transform: translate(-50%, -50%);
}

.pyramid_level:first-child span {
  top: 50px;
  transform: translate(-50%, 0%);
}

.pyramid_level:nth-child(1) {
  width: 100px;
  border-bottom: 100px solid var(--darkBlue);
  border-left-width: 50px;
  border-right-width: 50px;
}

.pyramid_level:nth-child(2) {
  width: 150px;
  border-bottom-color: var(--green);
}
.pyramid_level:nth-child(3) {
  width: 200px;
  border-bottom-color: var(--red);
}
.pyramid_level:nth-child(4) {
  width: 250px;
  border-bottom-color: var(--orange);
}
