.SIPOC_full_container {
  position: relative;
  width: 100%;
  padding: 0 25px;
  --nSIPOC: 5;
  --marginSIPOC: 4px;
}

.view_SIPOC {
  overflow: hidden;
}

.SIPOC_container {
  position: relative;
  width: 100%;
  min-width: 800px;
  margin: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  transition: left 0.5s;
}

.SIPOC_item {
  display: flex;
  flex-direction: column;
  width: calc(100% / (var(--nSIPOC)) - var(--marginSIPOC) - 20px);
  margin: var(--marginSIPOC);
  align-items: center;
  position: relative;
}
.SIPOC_item:nth-child(1) {
  align-items: normal;
}
.SIPOC_item:last-child {
  align-items: flex-end;
}

.SIPOC_item_header {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
  width: 100%;

  height: 75px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: var(--lightBrown);
  padding-left: 15px;
  z-index: 0;
}

.SIPOC_item_header:hover {
  font-weight: bold;
}

.SIPOC_item_header::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 2em 0 2em 20px;
  border-color: #f7f5f2 #f7f5f2 #f7f5f2 var(--brown);
  right: -15px;
  z-index: -1;
}

.SIPOC_item_header::after {
  content: "";
  width: 100%;
  position: absolute;
  border-style: solid;
  border-width: 2em 0 2em 20px;
  border-color: var(--brown) var(--brown) var(--brown) transparent;
  left: -5px;
  top: 5px;
  z-index: -1;
}

.SIPOC_item_content {
  line-height: 2em;
  font-size: 0.8em;
  width: 200%;
  padding: 15px;
  background-color: var(--lightBrown);
  box-shadow: var(--shadowSet);
  visibility: hidden;
}

.SIPOC_item:nth-child(1) .SIPOC_item_content {
  visibility: visible;
}

.SIPOC_item_content::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent var(--lightBrown) transparent;
  left: 50%;
  top: calc(55px);
  transform: translateX(-10px) translateY(100%);
}
