@import url("box.css");
@import url("accordeon.css");
@import url("timeline.css");
@import url("pyramide.css");
@import url("step.css");
@import url("logigram.css");
@import url("bargraph.css");
@import "processline.scss";
@import "carrousselViewer.scss";

/* Permet de définir la dimension des box incluant Border & Padding */
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  --brown: #bda47d;
  --lightBrown: #f0ece5;
  --darkGrey: #575757;
  --grey: #a8aaab;
  --lightGrey: #e4e4e4;
  --darkBlue: #5f94ab;
  --lightBlue: #99bdd5;
  --green: #b0b932;
  --red: #b61a1d;
  --orange: #d67c1c;
  --shadowSet: 2px 2px 2px rgba(189, 169, 125, 0.5);
  background-color: #f7f5f2;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.main_title {
  color: var(--brown);
  text-align: center;
  font-size: 50px;
  padding: 20px;
  margin: 0px;
  border-bottom: 2px solid var(--grey);
  width: 75%;
  text-transform: uppercase;
}
.subtitle {
  color: var(--grey);
  text-align: center;
  padding: 20px;
  margin: 0px;
  font-size: 1em;
  white-space: pre-line;
}
.content {
  font-size: 1em;
  margin: 20px;
  line-height: 2em;
}
.important_thing {
  font-weight: bold;
  margin-top: 5px;
}
.quote {
  color: var(--brown);
  text-align: center;
  font-size: 1.2em;
  margin: 30px;
}
img {
  vertical-align: middle;
}

.section_subtitle {
  font-size: 1em;
  color: var(--darkGrey);
}

.link {
  color: var(--darkBlue);
  text-decoration: dashed;
  line-height: 2em;
}

.responsive_img {
  max-width: 100%;
}

.examples {
  font-size: 1em;
  margin: 15px;
  line-height: 2em;
}

.footer {
  visibility: hidden;
  padding: 15px;
  text-align: center;
}
/* see with js how to positionate the word in the cloud_ideas_container */
.cloud_idea_1 {
  font-size: x-large;
  margin: 10px;
}
.cloud_idea_2 {
  font-size: large;
  margin: 10px;
}
.cloud_idea_3 {
  font-size: xx-large;
  margin: 10px;
}
.cloud_idea_4 {
  font-size: medium;
  margin: 10px;
}
.cloud_idea_5 {
  font-size: x-large;
  margin: 10px;
}
.cloud_idea_6 {
  font-size: large;
  margin: 10px;
}
.cloud_idea_7 {
  font-size: x-large;
  margin: 10px;
}
