/* Timeline general style */
.timeline_container {
  --margin: 15px;
  --pointRadius: 5px;
  --itemBackground: white;
  --timelineColor: var(--lightGrey);
  --pointColor: var(--brown);
  --titleColor: var(--brown);

  height: 500px;
  margin: 0px;
  position: relative;
}

.timeline_container::before {
  content: "";
  position: absolute;
  left: calc(100% / (var(--n) + 1));
  top: 50%;
  background: var(--timelineColor);
  height: 2px;
  width: calc(100% - (200% / (var(--n) + 1)));
}

.timeline_title {
  display: flex;
  align-items: center;
  color: var(--titleColor);
  font-weight: bold;
  border-bottom: 1px solid var(--titleColor);
  height: 3em;
  margin: 0;
  text-transform: uppercase;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

.timeline_content {
  display: flex;
  flex: 1;
  align-items: center;

  font-size: 0.8em;
}

.timeline_item {
  background-color: var(--itemBackground);
  margin: 0px;
  padding: 10px;
  width: calc((200% / (var(--n) + 1)) - var(--margin));
  height: calc(50% - 2 * var(--margin));
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
}
/* general style of timeline element (arrows and point) */
/* POINT */
.timeline_item::after {
  content: "";
  position: absolute;
  width: calc(2 * var(--pointRadius));
  height: calc(2 * var(--pointRadius));
  border-radius: 50%;
  background: radial-gradient(white, var(--pointColor));
}
/* ARROWS */
.timeline_item::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: var(--margin) var(--margin) 0 var(--margin);
  border-color: var(--itemBackground) transparent transparent transparent;
}

/* specific position of content if it is odd or even */

/* TOP */
/* POINT */
.timeline_item:nth-child(odd)::after {
  top: calc(100% + var(--margin) - var(--pointRadius));
  left: 50%;
  transform: translateX(-50%);
}
/* ARROWS */
.timeline_item:nth-child(odd)::before {
  top: 100%;
  left: 50%;
  transform: translate(-50%, calc(-1 * var(--pointRadius)));
}
/* CONTENT */
.timeline_item:nth-child(odd) {
  transform: translate(-50%, calc(-100% - var(--margin)));
}

/* BOTTOM */
/* POINT */
.timeline_item:nth-child(even)::after {
  top: calc(-1 * (var(--margin) + var(--pointRadius)));
  left: 50%;
  transform: translateX(-50%);
}
/* ARROWS */
.timeline_item:nth-child(even)::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% + var(--pointRadius))) rotate(180deg);
}
/* CONTENT */
.timeline_item:nth-child(even) {
  transform: translate(-50%, var(--margin));
}

.timeline_item:nth-child(1) {
  left: calc(100% / (var(--n) + 1));
}

.timeline_item:nth-child(2) {
  left: calc(200% / (var(--n) + 1));
}

.timeline_item:nth-child(3) {
  left: calc(300% / (var(--n) + 1));
}

.timeline_item:nth-child(4) {
  left: calc(400% / (var(--n) + 1));
}

.timeline_item:nth-child(5) {
  left: calc(500% / (var(--n) + 1));
}

.timeline_item:nth-child(6) {
  left: calc(600% / (var(--n) + 1));
}
.timeline_item:nth-child(7) {
  left: calc(700% / (var(--n) + 1));
}

.timeline_item:nth-child(8) {
  left: calc(800% / (var(--n) + 1));
}

.timeline_item:nth-child(9) {
  left: calc(900% / (var(--n) + 1));
}

.timeline_item:nth-child(10) {
  left: calc(1000% / (var(--n) + 1));
}
